@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0;
  font-family: Lato, sans-serif;
}


img {
  border:none;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  border: none;
}

.cartRight {
  padding-left: 40px;
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header i {
  color: #e8e8e8;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .userIcon,
.header .cartIcon {
  display: none;
}

@media (min-width: 1600px) {
  .container {
      margin: 0 auto;
      width: 1140px;
  }
}

@media (min-width: 768px) {
  .header {
      padding-left: 32px;
      padding-right: 32px;
  }
}


@media (min-width: 768px) {
  .header .userIcon,
  .header .cartIcon {
    display: inline;
  }
}

.header .userIcon {
  margin-left: 25px;
  margin-right: 42px;
}

.header .searchIcon {
  margin-left: 41px;
}


.leftHeader {
  margin-left: 16px;
  margin-top: 1px;
  border: none;
}

.rightHeader {
  border: none;
  margin-right: 25px;
}

.headerBars {
  border: 0;
}

.header .cartIconWrap {
  position: relative;
}

.userIcon,
.cartIconWrap {
    display: none;
}

.header .cartIconWrap span {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -8px;
  top: -19px;
  font-size: 12px;
  line-height: 19px;
}

@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}

.brandWrap {
  min-height: 363px;
  position: relative;
  background: #F1E4E6;
  width: 100%;
}

.newArrivals {
  background: #f8f3f4;
  min-height: 148px;
}

.newArrivals h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

@media (min-width: 768px) {
  .newArrivals h1 {
      margin: 0;
  }
}

.newArrivals .container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

@media (min-width: 768px) {
  .newArrivals .container {
    /**justify-content: flex-start;**/
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .newArrivals .container {
    padding: 0 16px;
  }
}



.newArrivals nav a,
.newArrivals nav span {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.newArrivals nav a {
    text-decoration: none;
}

.newArrivals nav span {
    margin: 0 3px;
}

.newArrivals nav a:last-of-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
}


.filters {
  margin-top: 24px;
  margin-bottom: 32px;
}

@media (min-width: 1600px) {
  .filters {
      margin-top: 51px;
      margin-bottom: 64px;
  }
}

.filters .container {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 768px) {
  .filters .container {
      padding-left: 16px;
      padding-right: 16px;
  }
}

@media (min-width: 1600px) {
  .filters .container {
      padding-left: 0;
      padding-right: 0;
      justify-content: flex-start;
  }
}

.filtersRight {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #6f6e6e;
}

@media (min-width: 1600px) {
  .filtersRight {
      font-size: 14px;
      line-height: 17px;
      margin-left: 320px;
  }
}

.filtersRight img {
  position: relative;
  bottom: 1px;
  margin-left: 9px;
}

.filtersRight > div:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 375px) {
  .filtersRight > div:not(:last-child) {
      margin-right: 24px;
  }
}

.filtersLeft .filterLabel {
  display: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.filterLabelPink {
  color: #ef5b70 !important;
  left: 16px;
  top: 13px;
}

.filterIconPink {
  left: 16px;
  top: 13px;
}

@media (min-width: 768px) {
  .filtersLeft .filterLabel {
      display: inline;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
  }
}

.filtersLeft .filterIcon {
  width: 37px;
  height: 25px;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .filtersLeft .filterIcon {
      width: 15px;
      height: 10px;
      margin-left: 11px;
  }
}

.filtersLeft {
  position: relative;
}

.hidden {
  display: none;
}

.registration {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .registration {
    padding: 0 8px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .registration {
    padding: 0 16px;
  }
}

@media (min-width: 768px) {
  .registration {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .registration .registrationLeft {
    margin-right: 22px;
  }
}

@media (min-width: 1600px) {
  .registration .registrationLeft {
    margin-right: 128px;
  }
}

.registration .registrationLeft .registrationNameLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration .registrationLeft .registrationInput {
  border: 1px solid #A4A4A4;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 19px;
}

.registration .registrationLeft .registrationInput::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .registrationLeft .registrationInput::-moz-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .registrationLeft .registrationInput:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .registrationLeft .registrationInput:-moz-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .registrationLeft .registrationGender {
  margin-top: 31px;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: flex;
  align-items: center;
}

.registration .registrationLeft .registrationGender input {
  margin-right: 10px;
}

.registration .registrationLeft .registrationGender input:not(:first-of-type) {
  margin-left: 20px;
}

.registration .registrationLeft .registrationLoginLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration .registrationLeft .registrationText {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 39px;
}

.registration .registrationLeft .registrationButton {
  height: 50px;
  width: 167px;
  background: #f16d7f;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}

.registration .registrationLeft .registrationButton img {
  margin-left: 20px;
}

.registration .registrationRight {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 767px) {
  .registration .registrationRight {
    margin-top: 40px;
  }
}

@media (min-width: 1600px) {
  .registration .registrationRight {
    font-size: 24px;
    line-height: 29px;
  }
}

.registration .registrationRight .registrationRightTitle {
  margin-bottom: 32px;
}

.registration .registrationRight .registrationRightText {
  margin-bottom: 22px;
}

.registration .registrationRight .registrationRightList {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.registration .registrationRight .registrationRightList li {
  background: url(../img/registrationMarker.png) no-repeat;
  padding-left: 42px;
}

.registration .registrationRight .registrationRightList li:not(:first-child) {
  margin-top: 16px;
}

.filterPopup {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 46px 16px 16px 16px;
  z-index: 1;
  overflow-y: auto;
}

.filterCategoryHeader {
  font-size: 14px;
  line-height: 37px;
  color: #ef5b70;
  padding-left: 11px;
  min-height: 37px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}

.filterCategoryHeader:before {
  content: "";
  width: 5px;
  min-height: inherit;
  background: #ef5b70;
  position: absolute;
  left: 0;
  top: 1px;
}

.filterCategory:not(:last-child) {
  margin-bottom: 24px;
}

.filterCategory a {
  display: block;
  text-decoration: none;
  padding-left: 34px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.filterCategory a:not(:last-child) {
  margin-bottom: 11px;
}

.filterSizeWrap {
  cursor: pointer;
}

.filterSize {
  position: relative;
}

.filterSizes {
  position: absolute;
  left: 0;
  top: 25px;
  width: 79px;
  height: 103px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 9px;
  box-sizing: border-box;
  font-size: 14px;
  color: #6f6e6e;
}

.filterSizes > div:not(:last-child) {
  margin-bottom: 4px;
}


.InsidebrandWrap {
  min-height: inherit;
}

@media (min-width: 768px) {
  .InsidebrandWrap {
      display: flex;
  }

  .InsidebrandWrap > div {
      width: 50%;
  }
}


.brandLeft {
  display: none;
}

@media (min-width: 768px) {
  .brandLeft {
      display: block;
  }
}

.brandLeft img {
  display: block;
  width: 100%;
}

.brandRight {
  background: #f1e4e6;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
}

@media (min-width: 1600px) {
  .brandRight {
      justify-content: flex-start;
  }
}

.brandPromoWrap {
  border-left: 12px solid #f16d7f;
  padding-left: 15px;
  height: 61px;
}

@media (min-width: 768px) {
  .brandPromoWrap {
      height: 78px;
  }
}

@media (min-width: 1600px) {
  .brandPromoWrap {
      margin-left: 64px;
  }
}

.brandPromoWrap div:first-child {
  font-weight: 900;
  font-size: 38px;
  line-height: 27px;
}

@media (min-width: 768px) {
  .brandPromoWrap div:first-child {
      font-size: 44px;
      line-height: 33px;
  }
}

@media (min-width: 1600px) {
  .brandPromoWrap div:first-child {
      font-size: 48px;
  }
}

.brandPromoWrap div:last-child {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 14px;
}

@media (min-width: 768px) {
  .brandPromoWrap div:last-child {
      margin-top: 25px;
  }
}

@media (min-width: 1600px) {
  .brandPromoWrap div:last-child {
      font-size: 32px;
      margin-top: 21px;
  }
}

.brandPromoWrap span {
  color: #f16d7f;
}

.brandDark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.menu {
  width: 232px;
  height: inherit;
  background: white;
  margin-left: auto;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 24px;
  box-sizing: border-box;
  position: relative;
  max-height: inherit;
  overflow: auto;
}

.menuClose {
  position: absolute;
  right: 16px;
  top: 16px;
}

.menuTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 16px;
}

.menuHeader {
  font-size: 14px;
  line-height: 33px;
  color: #f16d7f;
}

.menuUnit a {
  display: block;
  font-size: 14px;
  line-height: 33px;
  color: #6f6e6e;
  text-decoration: none;
  margin-left: 21px;
}


.offers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 247px) 111px;
  row-gap: 32px;
  padding: 64px 16px;
}

@media (min-width: 768px) {
  .offers {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 167px 116px;
      gap: 20px;
  }

  .offerAccesories {
      grid-column: 1/-1;
  }
}

.offers > div {
  position: relative;
}

.offers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.offerTitle {
  position: relative;
  z-index: 1;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.offerTitleBottom {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
}

@media (min-width: 768px) {
  .featured {
      padding-left: 16px;
      padding-right: 16px;
  }
}

@media (min-width: 1600px) {
  .featured {
      padding-left: 0;
      padding-right: 0;
  }
}

.featured h2 {
  margin-top: 0;
  margin-bottom: 3px;
  text-align: center;
  color: #222222;
}

.featuredTitle {
  text-align: center;
  color: #9f9f9f;
  line-height: 30px;
  margin-bottom: 64px;
}

.featuredItems {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

@media (min-width: 640px) {
  .featuredItems {
      grid-template-columns: 1fr 1fr;
      row-gap: 18px;
      column-gap: 16px;
  }
}

@media (min-width: 1000px) {
  .featuredItems {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
  }
}

.featuredItem {
  background: #f8f8f8;
}

.featuredItem img {
  width: 100%;
  display: block;
}

.featuredImgWrap {
  position: relative;
}

.featuredItem:hover .featuredImgDark {
  display: flex;
}

.featuredImgDark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  justify-content: center;
  align-items: center;
}

.featuredImgDark button {
  background: none;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  font-family: inherit;
}

.featuredImgDark button img {
  width: 26px;
  height: 24px;
  margin-right: 11px;
}

.featuredData {
  padding: 23px 16px 20px;
}

.featuredName {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.featuredText {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.featuredPrice {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.featuredBrowseBtn {
  border: 1px solid #ff6a6a;
  margin-top: 40px;
  padding: 15px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  color: #f26376;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
}

.featuredBrowseBtn:hover {
  color: white;
  background: #ff6a6a;
}

.cart {
  margin-top: 39px;
  display: flex;
  justify-content: center;
}

@media (min-width: 375px) {
  .cart {
    padding: 0 9px;
  }
}

@media (min-width: 768px) {
  .cart {
    padding: 0 17px;
  }
}

@media (min-width: 1600px) {
  .cart {
    display: flex;
    justify-content: space-between;
  }
}

.cartLeft {
  max-width: 600px;
}

.cart .cartLeft {
  margin-bottom: 30px;
}

.cart .cartLeftButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartLeftButtons {
    display: flex;
    justify-content: center;
  }
}

.cart .cartLeftButtons button {
  width: 175px;
  height: 33px;
  background: white;
  border: 1px solid #A4A4A4;
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  font-family: inherit;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartLeftButtons button {
    margin-left: 48px;
  }
}

@media (min-width: 768px) {
  .cart .cartLeftButtons button {
    width: 225px;
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}

.cart .cartUnit {
  background: white;
  filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
  position: relative;
}

@media (min-width: 1600px) {
  .cart .cartUnit {
    width: 652px;
  }
}

.cart .cartUnit:before {
  width: 10px;
  height: 11px;
  content: '';
  display: block;
  position: absolute;
  right: 12px;
  top: 17px;
  background: url(../images/cart/closeIcon.svg) no-repeat;
  background-size: 100%;
}

@media (min-width: 768px) {
  .cart .cartUnit:before {
    width: 18px;
    height: 18px;
    background-size: contain;
  }
}

.cart .cartUnit:not(:first-child) {
  margin-top: 32px;
}

@media (min-width: 1600px) {
  .cart .cartUnit:not(:first-child) {
    margin-top: 40px;
  }
}

.cart .cartUnit .cartUnitInside {
  display: flex;
}

.cart .cartUnit .cartProduct {
  margin: 13px 17px;
}

.cart .cartUnit .cartImg {
  width: 143px;
  height: 188px;
}

@media (min-width: 768px) {
  .cart .cartUnit .cartImg {
    width: 262px;
    height: 306px;
  }
}

.cartProductName {
  padding-top: 30px;
}

.cart .cartUnit .cartProductName {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 25px;
}

@media (max-width: 374px) {
  .cart .cartUnit .cartProductName {
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .cart .cartUnit .cartProductName {
    font-size: 24px;
    line-height: 29px;
  }
}

.cart .cartUnit .cartProductPrice span {
  color: #f16d7f;
  margin-left: 3px;
}

.cart .cartUnit .cartProductPrice,
.cart .cartUnit .cartProductColor,
.cart .cartUnit .cartProductSize,
.cart .cartUnit .cartProductQty {
  font-size: 14px;
  line-height: 17px;
  color: #575757;
}

@media (min-width: 768px) {
  .cart .cartUnit .cartProductPrice,
  .cart .cartUnit .cartProductColor,
  .cart .cartUnit .cartProductSize,
  .cart .cartUnit .cartProductQty {
    font-size: 22px;
    line-height: 26px;
  }
}

.cart .cartUnit .cartProductColor,
.cart .cartUnit .cartProductSize,
.cart .cartUnit .cartProductQty {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .cart .cartUnit .cartProductColor,
  .cart .cartUnit .cartProductSize,
  .cart .cartUnit .cartProductQty {
    margin-top: 6px;
  }
}

.cart .cartUnit .cartProductQty input {
  width: 24px;
  height: 15px;
  border: 1px solid #EAEAEA;
  margin-left: 25px;
  text-align: center;
  color: #656565;
  font-size: 10px;
  line-height: 12px;
}

@media (min-width: 768px) {
  .cart .cartUnit .cartProductQty input {
    width: 44px;
    height: 25px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 600px) {
  .cart .cartRight {
    max-width: 600px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartRight {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 374px) {
  .cart .cartRight {
    display: block;
    padding: 0 9px;
  }
}

.cart .cartRight .cartRightHeader {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

@media (max-width: 1599px) {
  .cart .cartRight .cartRightForm {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartRight .cartRightForm {
    flex-grow: 1;
    margin-right: 15px;
  }
}

.cart .cartRight .cartRightForm input {
  display: block;
  height: 45px;
  padding: 13px 17px;
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  box-sizing: border-box;
  border: 1px solid #A4A4A4;
  width: 100%;
}

.cart .cartRight .cartRightForm input:not(:first-child) {
  margin-top: 20px;
}

.cart .cartRight .cartRightForm button {
  margin-top: 23px;
  border: 1px solid #A4A4A4;
  font-family: inherit;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #575757;
  width: 101px;
  height: 35px;
  background: white;
}

.cart .cartRight .cartTotal {
  background: #F5F3F3;
  height: 214px;
  padding: 39px 43px 42px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .cart .cartRight .cartTotal {
    margin-top: 48px;
  }
}

@media (min-width: 768px) {
  .cart .cartRight .cartTotal {
    margin-top: 57px;
  }
}

.cart .cartRight .cartTotal .cartSubtotal,
.cart .cartRight .cartTotal .cartGrandtotal {
  text-align: right;
}

.cart .cartRight .cartTotal .cartSubtotal {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart .cartRight .cartTotal .cartSubtotal span {
  margin-left: 20px;
}

.cart .cartRight .cartTotal .cartGrandtotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
  margin-bottom: 21px;
}

.cart .cartRight .cartTotal .cartGrandtotal span {
  margin-left: 20px;
  font-weight: bold;
  color: #f16d7f;
}

.cart .cartRight .cartTotal hr {
  margin-top: 0;
  margin-bottom: 17px;
  background: #E2E2E2;
  height: 1px;
  border: none;
}

.cart .cartRight .cartTotal button {
  background: #f16d7f;
  width: 100%;
  border: none;
  height: 50px;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (min-width: 375px) {
  .cart .cartRight .cartTotal button {
    width: 273px;
  }
}

.hidden {
  display: none;
}

.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
}

@media (min-width: 768px) {
  .featured {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1600px) {
  .featured {
    padding-left: 0;
    padding-right: 0;
  }
}

.featured .featuredItems {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

@media (min-width: 640px) {
  .featured .featuredItems {
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 16px;
  }
}

@media (min-width: 1000px) {
  .featured .featuredItems {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.featured .featuredItem {
  background: #f8f8f8;
}

.featured .featuredItem:hover .featuredImgDark {
  display: flex;
}

.featured .featuredItem:last-child {
  display: none;
}

@media (min-width: 1000px) {
  .featured .featuredItem:last-child {
    display: block;
  }
}

.featured .featuredItem img {
  width: 100%;
  display: block;
}

.featured .featuredItem .featuredImgWrap {
  position: relative;
}

.featured .featuredItem .featuredImgDark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  justify-content: center;
  align-items: center;
}

.featured .featuredItem .featuredImgDark button {
  background: none;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  font-family: inherit;
}

.featured .featuredItem .featuredImgDark button img {
  width: 26px;
  height: 24px;
  margin-right: 11px;
}

.featured .featuredItem .featuredData {
  padding: 23px 16px 20px;
}

.featured .featuredItem .featuredData .featuredName {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.featured .featuredItem .featuredData .featuredText {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.featured .featuredItem .featuredData .featuredPrice {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}


.pagination a:hover {
  color: #ef5b70;
}

.services {
  background: #222224;
  padding-top: 48px;
  padding-bottom: 81px;
  padding-left: 14px;
  padding-right: 14px;
}

@media (min-width: 1200px) {
  .services {
      padding-top: 100px;
      padding-bottom: 100px;
  }
}

.services .container {
  display: grid;
  gap: 46px;
}

@media (min-width: 1200px) {
  .services .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 46px;
  }
}

.serivceUnit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesTitle,
.servicesText {
  color: #fbfbfb;
}

.servicesTitle {
  font-size: 19.96px;
  line-height: 24px;
  margin-top: 27px;
  margin-bottom: 15px;
}


.servicesText {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  max-width: 340px;
}



.pagination {
  width: 284px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  margin-top: 48px;
  padding: 13px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}

.pagination a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
}



.subscribe .container {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
}

.subscribeLeft {
display: flex;
flex-direction: column;
align-items: center;
}

.subscribeUserText {
margin-top: 30px;
text-align: center;
font-size: 18px;
line-height: 22px;
color: #222224;
max-width: 330px;
}

.subscribeRight {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 65px;
}

@media (min-width: 1200px) {
.subscribeRight {
  margin-top: initial;
}
}

.subscribeTitle {
font-weight: 700;
font-size: 24px;
color: #222224;
}

.subscribeTitle,
.subscribeText {
max-width: 271px;
text-align: center;
}

.subscribeText {
font-size: 14px;
color: #222224;
margin-bottom: 22px;
}

.subscribeForm {
height: 47px;
}

.subscribeForm input {
height: inherit;
background: #e1e1e1;
border: none;
padding: 6px 21px;
box-sizing: border-box;
border-top-left-radius: 28px;
border-bottom-left-radius: 28px;
float: left;
width: 185px;
}

.subscribeForm input::-webkit-input-placeholder {
color: #222224;
font-family: inherit;
opacity: 0.67;
}
.subscribeForm input::-moz-placeholder {
color: #222224;
font-family: inherit;
opacity: 0.67;
}
.subscribeForm input:-ms-input-placeholder {
color: #222224;
font-family: inherit;
opacity: 0.67;
}
.subscribeForm input:-moz-placeholder {
color: #222224;
font-family: inherit;
opacity: 0.67;
}

.subscribeForm button {
height: inherit;
border: none;
color: white;
font-family: inherit;
font-size: 14px;
line-height: 17px;
background: #f16d7f;
border-top-right-radius: 28px;
border-bottom-right-radius: 28px;
padding: 0 17px;
}

.subscribe {
  background: url(../images/subscribe.jpg) no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 109px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 96px;
}

@media (min-width: 768px) {
  .subscribe {
    margin-top: 128px;
  }
}

@media (min-width: 1600px) {
  .subscribe {
    margin-top: 119px;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
  }
}

@media (min-width: 1200px) {
  .subscribe .container {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
  }
}

.subscribe .subscribeLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe .subscribeLeft .subscribeUserText {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #222224;
  max-width: 330px;
}

.subscribe .subscribeRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}

@media (min-width: 1200px) {
  .subscribe .subscribeRight {
    margin-top: initial;
  }
}

.subscribe .subscribeRight .subscribeTitle {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}

.subscribe .subscribeRight .subscribeTitle,
.subscribe .subscribeRight .subscribeText {
  max-width: 271px;
  text-align: center;
}

.subscribe .subscribeRight .subscribeText {
  font-size: 14px;
  color: #222224;
  margin-bottom: 22px;
}

.subscribe .subscribeRight .subscribeForm {
  height: 47px;
}

.subscribe .subscribeRight .subscribeForm input {
  height: inherit;
  background: #e1e1e1;
  border: none;
  padding: 6px 21px;
  box-sizing: border-box;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  float: left;
  width: 185px;
}

.subscribe .subscribeRight .subscribeForm input::-webkit-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe .subscribeRight .subscribeForm input::-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe .subscribeRight .subscribeForm input:-ms-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe .subscribeRight .subscribeForm input:-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe .subscribeRight .subscribeForm button {
  height: inherit;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  background: #f16d7f;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  padding: 0 17px;
}



.footer {
  background: #222224;
  padding: 43px 20px 10px;
}

@media (min-width: 768px) {
  .footer {
    padding: 24px 32px;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer .footerLeft {
  display: flex;
}

.footer a {
  color: black;
  background: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer a:hover {
  background: #f16d7f;
  color: white;
}

.footer a:not(:last-child) {
  margin-right: 7px;
}

.footer .footerRight {
  color: white;
}

@media (max-width: 767px) {
  .footer .footerRight {
    margin-top: 40px;
  }
}